<div class="container-fluid footer-container text-white py-4">
    <div class="row justify-content-center">
        <!-- Empty Space for Centering -->
        <div class="col-lg-1 d-none d-lg-block"></div>

        <!-- Footer Main Section -->
        <div class="col-lg-10">
           
            <!-- Brand Name -->
            <div class="w-100 text-warning">
                <h2>Trendy-T</h2>
            </div>

            <!-- Footer Sections -->
            <div class="row  text-lg-start">
                <!-- Customer Service -->
                <div class="col-12 col-sm-6 col-md-3 mb-3">
                    <div class="footer-title">CUSTOMER SERVICE</div>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Contact Us</a></li>
                        <li><a href="#" class="text-white">Track Order</a></li>
                        <li><a href="#" class="text-white">Return Order</a></li>
                        <li><a href="#" class="text-white">Cancel Order</a></li>
                    </ul>
                </div>

                <!-- Company -->
                <div class="col-12 col-sm-6 col-md-3 mb-3">
                    <div class="footer-title">COMPANY</div>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">About Us</a></li>
                        <li><a href="#" class="text-white">We're Hiring</a></li>
                        <li><a href="#" class="text-white">Terms & Conditions</a></li>
                        <li><a href="#" class="text-white">Privacy Policy</a></li>
                        <li><a href="#" class="text-white">Blog</a></li>
                    </ul>
                </div>

                <!-- Connect With Us -->
                <div class="col-12 col-sm-6 col-md-3 mb-3">
                    <div class="footer-title">CONNECT WITH US</div>
                </div>

                <!-- Keep Up To Date -->
                <div class="col-12 col-sm-6 col-md-3 mb-3">
                    <div class="footer-title">KEEP UP TO DATE</div>
                    <div class="d-flex">
                        <input type="email" class="form-control rounded-0 subscription" placeholder="Enter Email Id" required>
                        <button class="btn btn-warning rounded-0">SUBSCRIBE</button>
                    </div>
                </div>
            </div>

            <!-- Spacer -->
            <div class="w-100" style="height: 20px;"></div>

            <!-- Download the App -->
            <div class="row text-center text-lg-start">
                <div class="col-md-6 mb-3">
                    <div class="footer-title">DOWNLOAD THE APP</div>
                    <div>
                        <a target="_blank" href="https://play.google.com/store/apps/details?id=com.bewakoof.bewakoof&hl=en">
                            <img src="https://images.bewakoof.com/web/app_android_v1.png" title="Android App" alt="Android App" width="100px">
                        </a>
                        <a target="_blank" href="https://itunes.apple.com/in/app/bewakoof/id1100190514?mt=8">
                            <img src="https://images.bewakoof.com/web/app_ios_v1.png" title="iOS App" alt="iOS App" width="100px">
                        </a>
                    </div>
                </div>

                <!-- Secure Payment -->
                <div class="col-md-6 text-center text-lg-start">
                    <div class="footer-title">100% SECURE PAYMENT</div>
                    <img style="height: 18px;" src="https://images.bewakoof.com/web/secure-payments-image.png" title="Secure Payments" alt="Secure Payments">
                </div>
            </div>

            <!-- Separator -->
            <div class="w-100 border-bottom border-white my-3"></div>
        </div>

        <!-- Empty Space for Centering -->
        <div class="col-lg-1 d-none d-lg-block"></div>
    </div>
</div>
