<div class="container-fluid bg-primary min-vh-100">
    <div class="row bg-white">
  
      <!-- Sidebar -->
      <div class="col-12 col-md-2 p-3 border-end">
        <div class="text-center  p-2 rounded text-decoration-none">
            <h4>Admin Dashboard</h4>
        </div>
  
        <mat-list class="d-flex flex-column gap-2">
  
          <a mat-list-item 
             class="d-flex align-items-center p-2 rounded text-decoration-none"
             [routerLink]="['',{outlets:{adminOutlet:['userDashboard']}}]" 
             (click)="ClickUserDashboard1('userDashboard')" 
             routerLinkActive #rla1="routerLinkActive" 
             [activated]="rla1.isActive">
            <mat-icon class="me-2">groups</mat-icon>
            <span>User Management</span>
          </a>
  
          <a mat-list-item 
             class="d-flex align-items-center p-2 rounded text-decoration-none"
             [routerLink]="['',{outlets:{adminOutlet:['productDashboard']}}]" 
             (click)="ClickUserDashboard1('productDashboard')" 
             routerLinkActive #rla2="routerLinkActive" 
             [activated]="rla2.isActive">
            <mat-icon class="me-2">view_cozy</mat-icon>
            <span>Product Management</span>
          </a>
  
          <a mat-list-item 
             class="d-flex align-items-center p-2 rounded text-decoration-none"
             [routerLink]="['',{outlets:{adminOutlet:['orderDashboard']}}]" 
             (click)="ClickUserDashboard1('orderDashboard')" 
             routerLinkActive #rla3="routerLinkActive" 
             [activated]="rla3.isActive">
            <mat-icon class="me-2">table</mat-icon>
            <span>Orders Dashboard</span>
          </a>
  
          <a mat-list-item 
             class="d-flex align-items-center p-2 rounded text-decoration-none"
             [routerLink]="['',{outlets:{adminOutlet:['deliveryDashboard']}}]" 
             (click)="ClickUserDashboard1('deliveryDashboard')" 
             routerLinkActive #rla4="routerLinkActive" 
             [activated]="rla4.isActive">
            <mat-icon class="me-2">local_shipping</mat-icon>
            <span>Delivery Dashboard</span>
          </a>
  
        </mat-list>
      </div>
  
      <!-- Content Area -->
      <div class="col-12 col-md-10 p-4">
        <router-outlet name="adminOutlet"></router-outlet>
      </div>
  
    </div>
  </div>
  